.connect-div{
    max-width: 500px;
    margin: 0 auto;
}
.sm-div{
    text-align: center;
}
.contact-div{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
@media (max-width: 750px){
    .sm-icon{
        margin: 7px !important;
        max-width: 35px !important;
    }
    .contact-div{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .in-contact-div{
        justify-content: center;
    }
}
.in-contact-div{
    display: flex;
}
.sm-icon{
    max-width: 50px;
    margin: 15px;
    border-radius: 50px;
    padding: 5px;
}
.sm-icon:hover{
    background-color: rgb(30, 40, 49);
}