.banner{
    max-width: 350px;
    max-height: 350px;
    border-radius: 50px;
}
.c11 {
    color:#F2AA4CFF;
    margin-top: -20px;
    font-size: 4em;
    text-align: center;
}
.c11 span {
    display: inline-block;  
}
.anDef {
    text-align: center;
    font-weight: 500;
    font-size: 4vw;
    position: relative;
    left: 0;
    right: 0;
    color: #F2AA4CFF;
}
@media (max-width: 750px){
    .anDef{font-size: 10vw}
    .banner{
        max-width: 300px;
        max-height: 300px;
    }
}
@media (max-width: 1365px){
    .anDef{top: -70px}
}
  
.anDef .letters {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0; 
}
.home-div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}
.banner-div{
    width: 675px;
    justify-content: center;
    display: flex;
}
.intro{
    width: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  